Repository bordenet/apple-quartile-solver: changes, and which Codecov flags are due for each by the changed paths.
All: go, python, flutter

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 85%
        threshold: 1%
        if_ci_failed: error
        
    patch:
      default:
        target: 80%
        threshold: 5%

flags:
  go:
    paths:
      - "*.go"
    carryforward: true
    
  python:
    paths:
      - "streamlit_app/"
    carryforward: true
    
  flutter:
    paths:
      - "quartile_solver_web/"
    carryforward: true

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

ignore:
  - "**/*_test.go"
  - "**/test_*.py"
  - "**/*_test.dart"
  - "starter-kit/**"
  - "docs/**"
  - "samples/**"
  - "scripts/**"

Fix Flutter CI failure by updating to Flutter 3.27.1
  .github/workflows/ci.yml
  README.md
Due: none

Fix critical GUI issues and add comprehensive testing
  .github/workflows/ci.yml
  .gitignore
  PREFLIGHT_CHECKLIST.md
  README.md
  WEB_UI_README.md
  quartile_solver_web/pubspec.yaml
  scripts/setup-go.sh
  scripts/setup-web.sh
  streamlit_app/app.py
  test_e2e.sh
Due: python, flutter

Fix CI failures: reorder Flutter steps and make E2E tests skip gracefully
  .github/workflows/ci.yml
  test_e2e.sh
Due: none

Fix Codecov URL in .env.example to point to correct repository
  .env.example
Due: none

Add comprehensive repository health checklist
  REPO_HEALTH_CHECKLIST.md
Due: none

docs: add quality assessment - production ready (Grade A)
  QUALITY_ASSESSMENT.md
Due: none

chore: move historical checklists to archive/
  archive/PREFLIGHT_CHECKLIST.md
  archive/README.md
  archive/REPO_HEALTH_CHECKLIST.md
  archive/WEB_UI_README.md
Due: none

docs: add interactive code coverage visualization
  README.md
Due: none

Adopt Go and Python coding style guides
  main.go
  streamlit_app/app.py
  streamlit_app/solver/__init__.py
  streamlit_app/solver/dictionary.py
  streamlit_app/solver/solver.py
  streamlit_app/solver/trie.py
  streamlit_app/solver/word_generator.py
  streamlit_app/test_solver.py
Due: go, python

Achieve A+ code quality grade
  .github/workflows/ci.yml
  QUALITY_ASSESSMENT.md
  README.md
  main.go
  main_test.go
  streamlit_app/app.py
Due: go, python

feat: add secrets-in-source prevention with check-secrets.sh
  scripts/check-secrets.sh
Due: none

docs: replace monolithic shell guide with factored version from genesis
  starter-kit/SHELL_SCRIPT_STANDARDS.md
  starter-kit/shell-script-standards/error-handling.md
  starter-kit/shell-script-standards/quick-reference.md
  starter-kit/shell-script-standards/symlink-resolution.md
  starter-kit/shell-script-standards/testing-and-security.md
  starter-kit/shell-script-standards/ux-and-cli.md
Due: none

docs: refactor large starter-kit files into modular structure
  starter-kit/DEPLOYMENT_GUIDE_FOR_AI.md
  starter-kit/DEVELOPMENT_PROTOCOLS.md
  starter-kit/PROJECT_SETUP_CHECKLIST.md
  starter-kit/SAFETY_NET.md
  starter-kit/deployment-guide/01-understanding.md
  starter-kit/deployment-guide/02-workflow.md
  starter-kit/deployment-guide/03-customization.md
  starter-kit/deployment-guide/04-validation.md
  starter-kit/deployment-guide/05-mistakes.md
  starter-kit/deployment-guide/06-example.md
  starter-kit/deployment-guide/07-maintenance.md
  starter-kit/development-protocols/01-git-workflow.md
  starter-kit/development-protocols/02-build-compilation.md
  starter-kit/development-protocols/03-code-quality.md
  starter-kit/development-protocols/04-ai-collaboration.md
  starter-kit/development-protocols/05-debugging.md
  starter-kit/development-protocols/06-token-conservation.md
  starter-kit/development-protocols/07-quick-reference.md
  starter-kit/project-setup/01-prerequisites.md
  starter-kit/project-setup/02-foundation.md
  starter-kit/project-setup/03-pre-commit-hooks.md
  starter-kit/project-setup/04-dependency-management.md
  starter-kit/project-setup/05-validation-system.md
  starter-kit/project-setup/06-cicd-integration.md
  starter-kit/project-setup/07-documentation.md
  starter-kit/project-setup/08-final-validation.md
  starter-kit/project-setup/09-troubleshooting.md
  starter-kit/safety-net/01-overview.md
  starter-kit/safety-net/02-pre-commit-hooks.md
  starter-kit/safety-net/03-validation-system.md
  starter-kit/safety-net/04-dependency-management.md
  starter-kit/safety-net/05-build-artifacts.md
  starter-kit/safety-net/06-environment-security.md
  starter-kit/safety-net/07-implementation-checklist.md
Due: none

fix: remove broken links to external wiki/Confluence content
  README.md
  starter-kit/shell-script-standards/error-handling.md
  starter-kit/shell-script-standards/quick-reference.md
  starter-kit/shell-script-standards/symlink-resolution.md
  starter-kit/shell-script-standards/testing-and-security.md
  starter-kit/shell-script-standards/ux-and-cli.md
Due: none
